@page
@model CarlistModel

@{
    ViewData["Title"] = "Carlist";
}

<table class="table">
    <thead> 
            @foreach(var El in Model.Cars)
            {
              <tr>  

                    <td>
                        @Html.DisplayFor(modelEl => El.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelEl => El.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelEl => El.Price)
                    </td>
              </tr>

            }
    </thead>
</table>

