@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://sneg.top/uploads/posts/2023-03/1678773164_sneg-top-p-fon-mersedes-znachok-krasivo-1.jpg" alt="Автомобіль" class="car-image">
        </div>
        <div class="col-md-6">
            <h2>Марка та модель:</h2>
            <p>@Model.Car.Name @Model.Car.Model</p>

            <h2>Рік випуску:</h2>
            <p>2022</p>

            <h2>Колір:</h2>
            <p>Сірий</p>

            <h2>Ціна:</h2>
            <p>@Model.Car.Price</p>

            <h2>Опис:</h2>
            <p>BMW X5 - великий преміум-кросовер, який поєднує розкіш та комфорт з потужними характеристиками. Він оснащений сучасними технологіями та надійними системами безпеки. Має просторий салон та великий багажник.</p>
        </div>
    </div>
</div>
