@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<div class="container mt-4">
    <p><em>Effective Date: 29.05.2023</em></p>

    <h2>1. Information We Collect:</h2>
    <h5>1.1 Personal Information:</h5>
    <p>We may collect personal information that you provide to us voluntarily when you interact with our Website, such as when you subscribe to our newsletter, fill out a contact form, make a purchase, or participate in any other activities. This personal information may include your name, email address, postal address, phone number, and any other information you provide to us.</p>

    <h5>1.2 Automatically Collected Information:</h5>
    <p>We may also automatically collect certain information when you visit our Website. This information may include your IP address, browser type, operating system, referring URLs, and other technical information about your visit.</p>

    <h2>2. Use of Information:</h2>
    <h5>2.1 We may use the personal information we collect for the following purposes:</h5>
    <ul>
        <li>To provide and improve our services, products, and customer support.</li>
        <li>To personalize your experience and deliver relevant content and advertisements.</li>
        <li>To communicate with you, respond to your inquiries, and send you information and updates related to our Website.</li>
        <li>To process transactions, including fulfilling orders and providing customer service.</li>
        <li>To conduct research and analyze usage trends.</li>
        <li>To enforce our terms of service and protect our rights and the rights of others.</li>
    </ul>

    <h5>2.2 We may use automatically collected information for various purposes, including:</h5>
    <ul>
        <li>Analyzing trends, administering the Website, and gathering demographic information.</li>
        <li>Tracking users' movements around the Website.</li>
        <li>Remembering and processing preferences and settings.</li>
        <li>Monitoring and preventing fraudulent activities and ensuring the security of our Website.</li>
    </ul>

    <h2>3. Disclosure of Information:</h2>
    <h5>3.1 We may share your personal information with third parties under the following circumstances:</h5>
    <ul>
        <li>With service providers and business partners who assist us in providing and improving our Website, such as hosting providers, payment processors, email service providers, and analytics providers. These third parties are obligated to protect your personal information and only use it for the purposes specified by us.</li>
        <li>In response to a legal request, such as a court order or subpoena, or to comply with applicable laws and regulations.</li>
        <li>If we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, or to protect our rights, property, and safety or the rights, property, and safety of others.</li>
        <li>In connection with a merger, acquisition, or sale of all or a portion of our assets, in which case your personal information may be transferred to the acquiring entity.</li>
    </ul>

    <h2>4. Cookies and Tracking Technologies:</h2>
    <h5>4.1 We may use cookies, web beacons, and similar tracking technologies to enhance your experience on our Website, understand how you use our Website, and gather information about your browsing activities. You have the option to disable cookies through your browser settings, but please note that certain features of the Website may not function properly if cookies are disabled.</h5>

    <h2>5. Data Security:</h2>
    <h5>5.1 We take reasonable measures to protect the personal information we collect and store. However, no security measure is completely secure, and we cannot guarantee the absolute security of your information. We encourage you to use strong passwords, keep your login credentials confidential, and notify us immediately if you suspect any unauthorized access to your account.</h5>

    <h2>6. Children's Privacy:</h2>
    <h5>6.1 Our Website is not intended for individuals under the age of 10. We do not knowingly collect personal information from children under this age. If you believe we have inadvertently collected personal information from a child, please contact us, and we will promptly delete the information.</h5>

    <h2>7. Third-Party Links:</h2>
    <h5>7.1 Our Website may contain links to third-party websites. We are not responsible for the privacy practices or the content of those websites. We encourage you to review the privacy policies of those third-party websites before providing any personal information.</h5>

    <h2>8. Changes to this Privacy Policy:</h2>
    <h5>8.1 We may update this Privacy Policy from time to time to reflect changes in our practices or legal obligations. We will post the updated Privacy Policy on our Website and indicate the effective date of the update. Your continued use of the Website after the effective date constitutes your acceptance of the updated Privacy Policy.</h5>

    <h2>9. Contact Us:</h2>
    <h5>9.1 If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please <a asp-page="/About">contact</a> us .</h5>
</div>



